body{
    background-color: black;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

  
#firstimage img {
    max-width: 50%;
    height: auto;
  }
  #secondimage img {
    max-width: 40%;
    height: auto;
    float: right;
    z-index: 100;
  }
.container{
    width:auto;
    margin:auto;
    overflow:hidden;
    height: 100%;
    
    float: left;
    mix-blend-mode: difference;
    
}
.imagecontainer{
    width:auto;
    margin:auto;
    
    height: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 101;
   
}
.triangle-right{
    top: -30%;
    left: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}
.topnav{
    width: 100%;
    float:left;
    align-items: unset;
    z-index: 102;
    position: fixed;
}


.btn .rounded_btn p{
    padding: 10px;
    background-color: #DAD4D4;
    border-radius: 25px;
   
    mix-blend-mode: difference;
    margin-left: 2%;
    float: left;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-size: 15px;
}
.rounded_btn p{
    padding: 10px;
    background-color:black;
    border-radius: 25px;
    mix-blend-mode: difference;
    margin-left: 2%;
    float: left;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#DAD4D4;
    font-size: 15px;
}


.Shadow p{
   
    color: white;
    position: absolute;
    font-size: 200px;
    width: 60%;
    float: left;
    letter-spacing: 87px;
    opacity: 20%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.qualifications p{
    color: white;
    position: absolute;
    font-size: 150px;
    width: 60%;
    float: left;
    letter-spacing: 15px;
    opacity: 100%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Stories{
    top: 85%;
    color: white;
    position: absolute;
    font-size: 25px;
    width: 60%;
    padding: 1px;
    float: left;
    opacity: 100%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Shadow1 p{
   top: 120%;
    color: white;
    position: absolute;
    font-size: 200px;
    width: 60%;
    float: left;
    letter-spacing: 87px;
    opacity: 20%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.qualifications1 p{
    top: 120%;
    color: white;
    position: absolute;
    font-size: 150px;
    width: 60%;
    float: left;
    letter-spacing: 15px;
    opacity: 100%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Stories1{
    top: 195%;

    color: white;
    position: absolute;
    font-size: 25px;
    width: 60%;
    padding: 1px;
    float: left;
    opacity: 100%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Shadow2 p{
    top: 220%;
     color: white;
     position: absolute;
     font-size: 200px;
     width: 60%;
     float: left;
     letter-spacing: 87px;
     opacity: 20%;
     z-index: 101;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .qualifications2 p{
     top: 220%;
     color: white;
     position: absolute;
     font-size: 150px;
     width: 60%;
     float: left;
     letter-spacing: 15px;
     opacity: 100%;
     z-index: 101;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .Stories2{
     top: 295%;
     color: white;
     position: absolute;
     font-size: 25px;
     width: 60%;
     padding: 1px;
     float: left;
     opacity: 100%;
     z-index: 101;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
 }

 .Shadow3 p{
  top: 300%;
   color: white;
   position: absolute;
   font-size: 200px;
   width: 60%;
   float: left;
   letter-spacing: 87px;
   opacity: 20%;
   z-index: 101;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.qualifications3 p{
   top: 300%;
   color: white;
   position: absolute;
   font-size: 150px;
   width: 60%;
   float: left;
   letter-spacing: 15px;
   opacity: 100%;
   z-index: 101;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Stories3{
   top: 375%;
   color: white;
   position: absolute;
   font-size: 25px;
   width: 60%;
   padding: 1px;
   float: left;
   opacity: 100%;
   z-index: 101;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

 .Shadowstatic p{
   
    color: white;
    position: fixed;
    font-size: 200px;
    width: 60%;
    float: left;
    letter-spacing: 87px;
    opacity: 20%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.qualificationsstatic p{
    color: white;
    position: fixed;
    font-size: 150px;
    width: 60%;
    float: left;
    letter-spacing: 15px;
    opacity: 100%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Storiesstatic{
    top: 65%;
    color: white;
    position: fixed;
    font-size: 25px;
    width: 60%;
    padding: 1px;
    float: left;
    opacity: 100%;
    z-index: 101;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  
 .containers {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 80%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  .containers1 {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 160%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  .containers2 {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 240%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  .containers3 {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 320%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  .containers4 {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 400%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  .containers5 {
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 480%;
    left: 50%;
    float: left;
    transform: translate(-50%, -50%);
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }

  .text_content h2 {
    color: hsl(223, 47%, 23%);
    padding: 30px 0 15px 0;
    font-size: 26px;
    font-weight: 900;
  }
  .text_content p {
    line-height: 1.5;
    color: rgba(153, 153, 153, 0.979);
    padding: 0 55px;
    font-size: 15px;
  }

  .plan {
    display: flex;
    align-items: center;
    background-color:#DAD4D4 ;
    border-radius: 15px;
    margin: 13px 30px 13px 30px;
    padding: 23px;
    justify-content: space-between;
  }
  .plan h6 {
    font-size: larger;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
  }
  .plan p {
    color: rgba(153, 153, 153, 0.979);
    font-size: 16px;
  }
  .PTP {
    display: block;
    background-color: black;
    font-size: 14px;
    padding: 14px;
    margin: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: 500;
    
  }
  .CO {
    text-decoration: none;
    color: rgba(153, 153, 153, 0.979);
    font-size: 13px;
    font-weight: 800;
  }
  .payment-options {
    margin-bottom: 50px;
  }


  

  #content-slider .slider-wrap {
    
    width: 99%;
    margin: 0px auto;
    position:absolute;
    top: 480%;
    z-index: 101;
    text-align: right;
  }
  
  #content-slider .slider-wrap.full {
    width: 100%;
    max-width: 100%;
    text-align: center; 
    border: none;
  }
  
  
  /* --------> Link style */
  #content-slider *:focus {
    outline: 0;
  } 
  
  #content-slider a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #content-slider a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  #content-slider a:hover,
  #content-slider a:active {
    outline: 0;
  }
  
  /* -------> Responsive images (ensure images don't scale beyond their parents) */
  #content-slider img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    border: 0;
  }
  
  /* -------> Main */
  #content-slider .slider {
    overflow: hidden;
    width: 100%;
    height: 35rem;
    margin: 0 auto;       
  
    position: relative;               
  }
  
  #content-slider .slider-inner {
    width: 500%;          
    line-height: 0;
    display: flex;
    height: 100%;
  
    animation: 30s slidy infinite;
    transition: all 2s ease-in-out; 
  }
  
  #content-slider .slider-main-title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;          
    line-height: 3rem;
    color: white;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  
  #content-slider .slider .slider-head {
    position: absolute;
    z-index: 12;
    width: 40%;
    height: auto;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem;
    margin: 1rem 0 0 1rem;
    overflow: hidden;
  
    transition: all 0.5s ease-in-out; 
  }
  
  #content-slider .slider-thumb .slider-head {
    position: absolute;
    z-index: 12;                      
    top: 0;
    right: 0;
    width: auto;
    height: auto;  
    text-align: right;
    margin: .5rem .5rem 0 0;
    opacity: 1;
    overflow: hidden;
  
    transition: all 0.5s ease-in-out;
  }
  
  /* -------> Article */
  #content-slider .slider h2,
  #content-slider .slider-thumb h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
  }
  
  #content-slider .slider p,
  #content-slider .slider-thumb p {
    color: #fffefe;
    padding: 0;
    margin: 0 0 1rem;
    opacity: .8;
    line-height: 1.2;
  }
  
  #content-slider .slider a,
  #content-slider .slider-thumb a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    line-height: 1.2;
  }
  
  /* -------> Article IMg Slider */
  #content-slider .slider h1 { font-size: 1.5rem; line-height: 1.2; }
  
  #content-slider .slider p { font-size: 1.2rem; line-height: 1.2; }
  
  #content-slider .slider a { font-size: 1rem; line-height: 1.2; }
  
  /* -------> Article IMg Prev */
  #content-slider .slider-thumb h2 { font-size: 1rem; line-height: 1.2; }
  
  #content-slider .slider-thumb p { font-size: .875rem; line-height: 1.2; }
  
  #content-slider .slider-thumb a { font-size: .75rem; line-height: 1.2; }
  
  
  /* -------> Main Img */
  #content-slider figure {
    margin: 0;
    padding: 0;
    width: 20%;
    cursor: pointer;
  
    transition: all 2s ease-in-out; 
  }
  
  #content-slider figure img {
    width: 100%;
    position: relative;
  }   
  
  /* -------> Max contrls img preview */ 
  #content-slider .slider-thumb {
    width: 25%;
    margin: 35rem 0% 0 0%;
    text-align: center;
    display: block;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
  }
  
  #content-slider .slider-thumb:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .55;
    transition: all .2s ease-in-out;
  }
  
  #content-slider .slider-thumb:hover:after {
    opacity: 0;
  }
  
  #thumb-1 { left: 0; }
  #thumb-2 { left: 25%; }
  #thumb-3 { left: 50%; }
  #thumb-4 { left: 75%; }
  
  #content-slider input[type='radio'] {           
    width: 10px;
    height: 10px;
    position: absolute;
    display: none;
  }
  
  #content-slider .slider-arrow-control {                   
    position: absolute;
    left: 0;
    z-index: 15;          
    top: 0%;
    width: 100%;
    height: 3.125rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #content-slider .slider-dot {
    width: 9px;
    height: 9px;
    margin: 0 2px;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid white;
    background: white;
  
    transition: all 0.3s ease-in-out; 
  }
  
  #content-slider .slider-dot-control {
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    z-index: 10;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0;
    line-height: 0;
  }   
  
  #content-slider .slider-dot-control>label:hover { 
    width: 9px; 
    height: 9px; 
    background: #FFF; 
    border: 1px solid #00ABFA; 
  }     
  
  
  /* -------> Controls */ 
  
  
  #input-1:checked ~ .slider .slider-inner { margin-left: 0%;   }
  #input-2:checked ~ .slider .slider-inner { margin-left:-100%; }
  #input-3:checked ~ .slider .slider-inner { margin-left:-200%; }
  #input-4:checked ~ .slider .slider-inner { margin-left:-300%; }
  #input-5:checked ~ .slider .slider-inner { margin-left:-400%; }
  
  
  #input-1:checked ~ .slider-dot-control>label:nth-child(1) { opacity: 1; background: #fff; }
  #input-2:checked ~ .slider-dot-control>label:nth-child(2) { opacity: 1; background: #fff; }
  #input-3:checked ~ .slider-dot-control>label:nth-child(3) { opacity: 1; background: #fff; }
  #input-4:checked ~ .slider-dot-control>label:nth-child(4) { opacity: 1; background: #fff; }
  
  
  #input-1:checked ~ #thumb-1:after { opacity: 0; }
  #input-2:checked ~ #thumb-2:after { opacity: 0; }
  #input-3:checked ~ #thumb-3:after { opacity: 0; }
  #input-4:checked ~ #thumb-4:after { opacity: 0; }
  
  
  .slider-arrow-control>label:nth-child(2) {
    width: 3.125rem;
    height: 3.125rem;
    top: 50%;
    margin-top: -1.5625rem;
    display: inline-block;
    position: relative;           
    cursor: pointer;
  }
  
  #input-1:checked ~ .slider-arrow-control>label:nth-child(2),
  #input-2:checked ~ .slider-arrow-control>label:nth-child(3),
  #input-3:checked ~ .slider-arrow-control>label:nth-child(4),
  #input-4:checked ~ .slider-arrow-control>label:nth-child(1),
  #input-5:checked ~ .slider-arrow-control>label:nth-child(1),
  #input-1:checked ~ .slider-arrow-control>label:nth-child(4),
  #input-2:checked ~ .slider-arrow-control>label:nth-child(1),
  #input-3:checked ~ .slider-arrow-control>label:nth-child(2),
  #input-4:checked ~ .slider-arrow-control>label:nth-child(3) {
    width: 3.125rem;
    height: 3.125rem;
    top: 50%;
    margin-top: -1.5625rem;
    display: inline-block;
    position: relative;           
    cursor: pointer;
  }
  
  #input-1:checked ~ .slider-arrow-control>label:nth-child(2):after,
  #input-2:checked ~ .slider-arrow-control>label:nth-child(3):after,
  #input-3:checked ~ .slider-arrow-control>label:nth-child(4):after,
  #input-4:checked ~ .slider-arrow-control>label:nth-child(1):after,
  #input-5:checked ~ .slider-arrow-control>label:nth-child(1):after,
  #input-1:checked ~ .slider-arrow-control>label:nth-child(4):after,
  #input-2:checked ~ .slider-arrow-control>label:nth-child(1):after,
  #input-3:checked ~ .slider-arrow-control>label:nth-child(2):after,
  #input-4:checked ~ .slider-arrow-control>label:nth-child(3):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.125rem;
    line-height: 3.125rem;
    color: #00ABFA;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 3.125rem;
    background: rgba(0,0,0,.5);
  }
  
  #input-1:checked ~ .slider-arrow-control>label:nth-child(2),  
  #input-2:checked ~ .slider-arrow-control>label:nth-child(3), 
  #input-3:checked ~ .slider-arrow-control>label:nth-child(4), 
  #input-4:checked ~ .slider-arrow-control>label:nth-child(1) {       
    float: right;
    right: 0;                      
  }
  
  #input-1:checked ~ .slider-arrow-control>label:nth-child(2):after,  
  #input-2:checked ~ .slider-arrow-control>label:nth-child(3):after, 
  #input-3:checked ~ .slider-arrow-control>label:nth-child(4):after, 
  #input-4:checked ~ .slider-arrow-control>label:nth-child(1):after {
    content: "\f054";                     
  }
  
  #input-1:checked ~ .slider-arrow-control>label:nth-child(4),
  #input-2:checked ~ .slider-arrow-control>label:nth-child(1),
  #input-3:checked ~ .slider-arrow-control>label:nth-child(2),
  #input-4:checked ~ .slider-arrow-control>label:nth-child(3) {   
    float: left;
    left: 0;           
  }
  
  #input-1:checked ~ .slider-arrow-control>label:nth-child(4):after,
  #input-2:checked ~ .slider-arrow-control>label:nth-child(1):after,
  #input-3:checked ~ .slider-arrow-control>label:nth-child(2):after,
  #input-4:checked ~ .slider-arrow-control>label:nth-child(3):after {
    content: "\f053";
  }
  
  /*#thumb-1:focus ~ .slider-inner { margin-left: 0%;   }
  #thumb-2:focus ~ .slider-inner { margin-left:-100%; }
  #thumb-3:focus ~ .slider-inner { margin-left:-200%; }
  #thumb-4:focus ~ .slider-inner { margin-left:-300%; }
  #thumb-5:focus ~ .slider-inner { margin-left:-400%; }*/
  
  #content-slider input:checked ~ .slider-inner {
    animation: none;         
  }
  #content-slider input:hover ~ .slider-inner, 
  #content-slider label:hover ~ .slider-inner {
    animation-play-state: paused;
  }
  #content-slider input:hover ~ .slider-inner, 
  #content-slider label:hover ~ .slider-inner {
    animation-play-state: paused;
  }
  #content-slider span:focus ~ .slider-inner {
    animation: none;         
  }
  #content-slider span:hover ~ .slider-inner {
    animation-play-state: paused;
  }


  .containering {
    top: 20%;
    position: absolute;
    width: 100%;
    z-index: 101;
    height: 100vh;
   
 }
  .card {
    width: 60%;
    height: 80%;
    max-height: 300px;
    padding: auto;
    text-align: center;
    background: #242625;
    border-radius: 10px;
    overflow: hidden;
 }
  .card__container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
 }
  .card__content {
    width: 90%;
    height: 95%;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    
    transition: 0.3s all ease-in-out;
 }
  .card__content:hover {
    margin-top: -10px;
 }
  .card__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px auto;
 }
  .card__button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
 }
 .card__buttonz {
  padding: 10px;
  border-radius: 50px;
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 50px auto;
}
.opener {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.opener {
  opacity: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 30px;
  animation: fadeIn 5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
